-- ============================================================================
-- Ashram Connect - Core Base Schema
-- Run this first in Supabase SQL Editor.
-- ============================================================================

-- Extensions used by UUID/default helpers and optional fuzzy text search later.
CREATE EXTENSION IF NOT EXISTS "pgcrypto";
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";
CREATE EXTENSION IF NOT EXISTS "pg_trgm";

-- ---------------------------------------------------------------------------
-- PROFILES (core auth-linked user metadata)
-- rbac_schema.sql will further harden roles, policies, and triggers.
-- ---------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS public.profiles (
    id UUID PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE,
    email TEXT UNIQUE NOT NULL,
    role INTEGER NOT NULL DEFAULT 6 CHECK (role BETWEEN 1 AND 6),
    full_name TEXT,
    mobile TEXT,
    temple TEXT,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_profiles_email ON public.profiles(email);
CREATE INDEX IF NOT EXISTS idx_profiles_role ON public.profiles(role);

-- Keep updated_at fresh on UPDATE.
CREATE OR REPLACE FUNCTION public.set_updated_at()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS trg_profiles_updated_at ON public.profiles;
CREATE TRIGGER trg_profiles_updated_at
BEFORE UPDATE ON public.profiles
FOR EACH ROW
EXECUTE FUNCTION public.set_updated_at();

-- Backfill profiles for existing auth users.
INSERT INTO public.profiles (id, email, role)
SELECT id, email, 6
FROM auth.users
ON CONFLICT (id) DO NOTHING;

-- ---------------------------------------------------------------------------
-- LECTURES (legacy BC class content)
-- ---------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS public.lectures (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    youtube_id TEXT UNIQUE NOT NULL,
    title TEXT NOT NULL,
    speaker_name TEXT NOT NULL,
    date DATE NOT NULL,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_lectures_date_desc ON public.lectures(date DESC);
CREATE INDEX IF NOT EXISTS idx_lectures_speaker ON public.lectures(speaker_name);

DROP TRIGGER IF EXISTS trg_lectures_updated_at ON public.lectures;
CREATE TRIGGER trg_lectures_updated_at
BEFORE UPDATE ON public.lectures
FOR EACH ROW
EXECUTE FUNCTION public.set_updated_at();

-- ---------------------------------------------------------------------------
-- YOUTUBE CHANNELS (base table required by youtube_search_setup.sql)
-- ---------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS public.youtube_channels (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    channel_id TEXT UNIQUE NOT NULL,
    name TEXT NOT NULL,
    handle TEXT,
    custom_logo TEXT,
    banner_style TEXT,
    is_active BOOLEAN NOT NULL DEFAULT TRUE,
    order_index INTEGER NOT NULL DEFAULT 0,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_youtube_channels_active_order
ON public.youtube_channels(is_active, order_index);

DROP TRIGGER IF EXISTS trg_youtube_channels_updated_at ON public.youtube_channels;
CREATE TRIGGER trg_youtube_channels_updated_at
BEFORE UPDATE ON public.youtube_channels
FOR EACH ROW
EXECUTE FUNCTION public.set_updated_at();

-- Public read access to active channels for browsing endpoints.
ALTER TABLE public.youtube_channels ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "Public can read youtube channels" ON public.youtube_channels;
CREATE POLICY "Public can read youtube channels"
ON public.youtube_channels
FOR SELECT
USING (true);
